<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>My Pokédex</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css"
    />
    <link
      rel="stylesheet"
      src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"
    />
  </head>
  <body>
    <div class="container">
      <div class="block">
        <h1 class="title is-1">Pokédex</h1>
      </div>

      <div class="container">
        <ol>
          {%for pokemon in pokemons%}
          <a href="/pokemon/{{pokemon.data.id}}">
            <p class="name">{{pokemon.data.name}}</p>
            <img class = "image" src =
            "{{pokemon.data.sprites["front_default"]}}">
          </a>
          <p class="type">
            {%for type in pokemon.data.types%} {{type.type.name}} {%endfor%}
            {%endfor%}
          </p>
        </ol>
      </div>

      <div class="container">
        <nav class="pagination">
          {% if (page-1) >= 0%}
          <a href="/?page={{page-1}}" class="pagination-previous"> Previous </a>
          {%endif%} {%if (page+1) < maxNumOfPages%}
          <a href="/?page={{page+1}}" class="pagination-next"> Next </a>
          {%endif%}
        </nav>
      </div>
      <script src="../client.js"></script>
    </div>
  </body>
</html>
