<!DOCTYPE html>
<html>
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>Pokémon</title>
      <link rel="stylesheet" href="../style.css">
  </head>



  <body>
  
    <li class = "PokemonCard">
      <img class = "card-image" src="{{pokemon.sprites.front_default}}">
      <h2 class = "card-title">{{pokemon.id}} {{pokemon.name}}</h2>
      <p class = "card-weight"> Weight: {{pokemon.weight/10}} kg </p>
      <p class = "card-height"> Height: {{pokemon.height/10}} m </p>
      <p class = "card-type">Type: {%for type in pokemon.types%} {{type.type.name}} {%endfor%}</p>
    </li>
      
    {#page links#}
    <a href="/pokemon/{{pokemon.id - 1}}">Previous</a>
    <a href="/">Pokédex</a> 
    <a href="/pokemon/{{pokemon.id + 1}}">Next</a>
    <hr>

    {%for move in moves%}
      <p class = "move-name"> move name: {{move.data.name}} </p>
      <p> type: {{move.data.type.name}} </p>
      <p> power : {{move.data.power or '100'}} </p>
      <p> damage class: {{move.data.damage_class.name}} </p>
      <p> accuracy: {{move.data.accuracy or '100'}} %</p>
      <p> power point: {{move.data.pp}} </p>
      <hr>
    {%endfor%}

  </body>
  
</html>