<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title class="pokeman-name">{{pokemon.name | upper}}</title>
    <link rel="stylesheet" href="../style.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css"
    />
    <link
      rel="stylesheet"
      src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"
    />
  </head>

  <body>
    <a href="/">
      <h1 class="title is-1">Pokédex</h1>
    </a>

    <div class="container">

      <div class = "columns">

        <div class = "info column">
          <h2 class="pokeman-name title is-3">{{pokemon.name}}</h2>
          <p class="card-weight">Weight: {{pokemon.weight/10}} kg</p>
          <p class="card-height">Height: {{pokemon.height/10}} m</p>
          <p class="card-type">
            Type: {%for type in pokemon.types%} {{type.type.name}} {%endfor%}
          </p>
        </div>

        
        <div class= "pokemon-image column">
          <img height="300" width="300" src="{{pokemon.sprites.front_default}}" />
        </div>

        
      </div>
      

      {%for move in moves%}
      <p class="move-name">move name: {{move.data.name}}</p>
      <p>type: {{move.data.type.name}}</p>
      <p>power : {{move.data.power or '100'}}</p>
      <p>damage class: {{move.data.damage_class.name}}</p>
      <p>accuracy: {{move.data.accuracy or '100'}} %</p>
      <p>power point: {{move.data.pp}}</p>
      <hr />
      {%endfor%}
    </div>

    <div class="container">
      <a class="button is-primary" href="/pokemon/{{pokemon.id - 1}}"
        >Previous</a
      >
      <a class="button is-primary" href="/pokemon/{{pokemon.id + 1}}">Next</a>
      <hr />
    </div>
  </body>
</html>
