body {
  margin: 0;
}
.container {
  margin: auto;
  text-align: center;
}

.type {
  text-transform: capitalize;
  margin: auto;
  text-align: center;
}

.pokedex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

.pokemon-card {
  list-style: none;
  padding: 40px;
  margin: 30px;
  background-color: white;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.09);
  transition: 0.3s ease-in-out;
  border-radius: 2px;
}
.pokemon-card:hover {
  box-shadow: 0 5px 15px 2px rgba(0, 0, 0, 0.1);
}

.name {
  text-transform: uppercase;
  margin: auto;
  text-align: center;
}

.image {
  height: 180px;
  opacity: 1;
}

.type {
  color: black;
}
